<div class="hero-unit welcome">
<h2>What is LoLFantasy?</h2>
<p>LoLFantasy is a Fantasy League of Legends website. Users run their own teams with players of their choice. The teams recieve points based off of player performance in the North American and European LCS.
</p>
<h2>How do I play?</h2>
<p>You have to sign up and join a league (You may join more than one!). Once you've joined a league you may buy and sell players for your team.</p>
<h2>How are points calculated?</h2>
<p>Our point system is based off of KDA and Creep Score per minute. The player's KDA + CS/min will be how many points you earn that week.</p>
<h2>What do we get for competing?</h2>
<p>Since we allow users to create their own leagues, the answer to this question can only be answered by the creator of the league. Although, at the end of the season, we do plan to reward the best teams overall (Not eligible if you own more than 3 teams).</p>
<h2>Do you guys need help?</h2>
<p>We would love help! You can contact me on <%= link_to "Reddit", "http://www.reddit.com/message/compose/?to=MrQuackers&subject=LoLFantasy%20Help" %> or <%= link_to "Twitter", "https://twitter.com/anujanpan" %> and I'll let you know how you can help =)</p>