<h1>Listing players</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Position</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.price %></td>
        <td><%= player.role %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
